
.circle span{
	font-size: 12px;
}

.square span{
	font-size: 14px;
}
	

.main.circle{
	z-index: 10;
	position: relative;
	width: 339px; 
	height:255px; 
	border: 5px solid black;
	overflow: hidden;
	background-color: #111214;
	border-radius: 50%;
    top: 78px;
    left: 31px;
	transition: border-radius 0.5s;
} 

.main.square{	
	z-index: 10;
	position: absolute;
	width: 375px; 
	height:280px; 
	border: 5px solid black;
	overflow: hidden;
	background-color: #111214;
    top: 65px;
    left: 13px;	
	transition: border-radius 0.5s;
}

.user{
    padding-top: 20px;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img#profilepicture {
    display: block;
    width: 8.5%;
    border-radius: 50%;
	padding-right: 8px;
}

span#username{
    vertical-align: middle;
    font-weight: bold;
	font-size: 14px;
}

.faceitGeneral{
	display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.flag{
	display: block;
    width: 7.5%;
}

.Elo{
    vertical-align: middle;
    font-weight: bold;
}

.skill{
	display: block;
    width: 7.5%;
}

.FaceitWins{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #969696;
    padding-bottom: 5px;
}

.wins {
    vertical-align: middle;
    font-weight: bold;
}

.FaceitRoomStats{
	display: grid;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    border-bottom: 1px solid #969696;
    padding-bottom: 5px;
    padding-top: 5px;
}

.MMRoomStats{
	display: grid;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    border-bottom: 1px solid #969696;
    padding-bottom: 5px;
    padding-top: 5px;
	
}

.RoomHeadline{
	text-decoration: underline;
}

.RoomName{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.TeamName{	
	width: 150px;
}

.RoomElo{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.TeamElo{
	width: 150px;
}

span#plusElo{
	color: green;
}

.PlusMinus{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
}

span#minusElo{
	color: red;
}

.arrowImg{
	position: relative;
    height: 10px;
}

.MatchStatsHeadline{
	font-size: 12px;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    text-decoration-line: underline;
}

.square .MatchStatsHeadline{
	font-size: 14px;
}

.tableText{
	text-align: center;
    font-size: 10px!important;
}

.square .tableText{
    font-size: 12px!important;
}

.deathSkull{
	display: block;
	width: 12px;
	height: 12px;
}

.deathSkull.hidden{
	display: none!important;
}


.progress {
	grid-area: KD-Bar;
	position: relative;
	height: 8px;
	width: 100%;
	max-width: 100%;
	margin-bottom: 0 !important;
}

.bg-danger {
	background-color: #2d2d2d !important;
}

.bg-success {
	background-color: #848484 !important;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.visible {
	visibility: visible!important;
	opacity: 1;
	transition: opacity 2s linear;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
}

.collapse {
	visibility: collapse;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
    display: none;
}

/* Basisfunktionalität des Sliders */
.slider {
    padding-top: 5px;
	overflow: hidden;
}

.slideList {
	width: 200%; /* Anzahl der Slides mal 100 */
	position: relative; /* über die relative Positionierung wird der Slider durchs Sichtfenster geschoben */
	-webkit-transition: left 2s;
	-moz-transition: left 2s;
	-o-transition: left 2s;
	transition: left 2s; /* für den fließenden Schub */
	margin: 0;
	padding: 0;
}

.slideList:after {
	content: ".";
	display: block;
	height: .1px;
	clear: both;
	visibility: hidden;
	font-size: 0;
	overflow: hidden;
}

.slide {	
    padding-left: 7%;
    padding-right: 7%;
	list-style: none;
	width: 50%; /* Breite gleich 100 / Anzahl Slides */
	float: left;
	position: relative;
	overflow: hidden;
	left: 0;
	-webkit-transition: left 0s .5s;
	-moz-transition: left 0s .5s;
	-o-transition: left 0s .5s;
	transition: left 0s .5s; /*bei Klick auf ein Control werden alle Slides wieder auf Original-Position geschoben, hier für den ersten relevant. Damit die Aktion erst nach der slides-Verschiebung beginnt, kommt ein delay hinzu*/
}

@keyframes slider {
	0%, 40% {left: 0;}
	50%, 90% {left: -100%;}
	100% {left: 0%;}
}

.slideList {
	animation-name: slider;
	animation-duration: 20s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	overflow: hidden;
}

.slide {
	position: relative;
}


.loader {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
} 

.loader .b{
	border-radius: 50%;
	border-left: 3px solid;
	border-right: 3px solid;
	border-top: 3px solid transparent !important;
	border-bottom: 3px solid transparent !important;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	animation: ro 2s infinite;
}

.loader .b1{
	height: 50px;
	width: 50px;
	border-color: #535353;
}
.loader .b2{
	height: 40px;
	width: 40px;
	border-color: #7e7e7e;
	animation-delay: 0.2s;
}

.loader .b3{
	height: 30px;
	width: 30px;
	border-color: #cdcdcd;
	animation-delay: 0.4s;
}

.loader .b4{
	height: 20px;
	width: 20px;
	border-color: #ffffff;
	animation-delay: 0.6s;
} 



@keyframes ro{
	0%{
		transform: translate(-50%,-50%) rotate(0deg);
	}
	50%{
		transform: translate(-50%,-50%) rotate(-180deg);
	}
	100%{
		transform: translate(-50%,-50%) rotate(0deg);
	}
}
